<h1>{{title}}</h1>
<div *ngIf="!live; else d">
  <p>Settings</p>
  <label>rows</label>
  <input type="number" [(ngModel)]="rowCount" >
  <br>
  <label>cols</label>
  <input type="number" [(ngModel)]="colCount" >
  <br>
  <button (click)="setupField()">Load</button>
  <div>
    <p>Predefined Sets</p>
    <button (click)="setupGosperGliderGun()">Gosper-Glider-Gun</button>
    <button (click)="setupSailors()">Light Middle Heavy Sailors</button>
  </div>
  <br>
  <label>Rounds</label>
  <input type="number" [(ngModel)]="maxRounds" >
  <br>
  <label>Speed(ms)</label>
  <input type="number" [(ngModel)]="speed" >
  <br><br>
  <button (click)="start()">Start</button>
</div>
<ng-template #d>
  <button (click)="stop()">Stop</button>
</ng-template>

<p>Round {{round}}</p>
<table>
  <tbody>
  <tr *ngFor="let row of field; index as rowIndex">
    <td *ngFor="let col of row; index as colIndex"
        (click)="switchState(rowIndex, colIndex)"
        [ngStyle]="{'background-color':col === true ? '#000' : '#FFF' }">
    </td>
  </tr>
  </tbody>
</table>
